.lead{
    font-size: 22px;
    max-width: 40em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image{
    width: 570px;
    height: 380px;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .image {
        width: 410px;
        height: 240px;
    }
  }
